#container-cart {
  position: fixed;
  top: 0;
  left: -567px;
  z-index: 3;
  overflow-y: auto;

  height: 100%;
  padding: 10px;
  padding-right: 42px;
  background-color: var(--devbar-color);
  box-shadow: 2px 2px 8px rgb(80, 80, 80);
  transition: 0.3s left ease-in-out;
}

#container-cart::-webkit-scrollbar {
  width: 17px;
}

#container-cart::-webkit-scrollbar-thumb {
  background-color: var(--footer-color);
  border-radius: 16px;
  border: 3px solid var(--devbar-color);
}

.cart-img-wrapper {
  width: 100%;
  text-align: end;
}

img#cart-img {
  position: relative;
  left: 32px;

  cursor: pointer;
  transition: 0.3s transform ease;
}

img#cart-img:hover,
img#cart-img:focus {
  transform: scale(1.2);
}

.cart-header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25em;
  color: var(--main-color);
}

.cart-column {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
  min-width: 560px;
  box-shadow: 0 4px 4px -2px rgb(80, 80, 80);
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  color: var(--main-color);
}

.cart-item-title {
  color: var(--main-color);
  font-size: 13px;
  margin-left: 5px;
  text-align: center;
}

.cart-item-image {
  width: 60px;
  height: auto;
  border-radius: 10px;
}

.cart-quantity-input {
  height: 36px;
  width: 37px;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  background-color: var(--footer-color);
  color: white;
  text-align: center;
  font-size: 16px;
  margin-right: 25px;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.3em;
  color: var(--main-color);
  margin-right: 20px;
}

.cart-total-price {
  color: white;
  font-size: 1.2em;
}

button#btn-purchase {
  cursor: pointer;
}

button.btn-danger {
  cursor: pointer;
}
